@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 50%;
}

.header {
  background: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-list {
  display: flex;
  gap: 80px;
  list-style: none;
}

.nav-link {
  color: whitesmoke;
}

.nav-link:hover {
  text-decoration: underline;
  color: salmon;
}
